<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" >
                <div class="about-div-1 wow slideInLeft" data-wow-offset="200">
                    <h2 class="about-text-1">A Experienced Firm For Castrophic Injury & Accident Cases </h2>
                    <div class="about-horizontal-line-1"></div>
                    <span class="about-text-2">
                            When someone is injured in a catastrophic accident, they need the best legal representation in their corner prepared for battle against the insurance companies. At Eric Mausner Law, we have attorneys that are prepared to go to trial for ea	ch of our clients.
                            <br>
                        <span class="about-text-3">
                            We go above and beyond for our clients to make sure they get the attention and recover the maximum compensation that they deserve. Having won awards, we are proud to say we have earned the respect and trust of our clients. Call Eric Mausner Law for a no obligation case evaluation and see if you qualify for us to take on your case now.
                        </span>
                     </span>
                </div>
                <div class="about-div-4-mobile wow slideInLeft" data-wow-delay="0.5s">
                    <span class="about-text-5">What You Get With Eric Mausner Law</span>
                    <div>
                        <img class="about-img-1" src="img/about-img-1.png" alt="shield">
                        <img class="about-img-1" src="img/about-img-2.png" alt="hat">
                        <img class="about-img-1" src="img/about-img-3.png" alt="clock">
                        <img class="about-img-1" src="img/about-img-4.png" alt="checklist">
                    </div>
                </div>
                <div class="about-div-2 wow slideInLeft" data-wow-delay="0.5s">
                    <span class="about-text-4">We Aggressively Represent The Rights Of The Wrongfully Injured</span>
                    <div class="about-div-3">
                        <a href="#contact"><button class="about-button">Get a free case evaluation today</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-div-4 wow  zoomInRight" data-wow-delay="0.5s" data-wow-offset="200">
                <h2 class="about-text-5">What You Get With Eric Mausner Law</h2>
                <div>
                    <div class="about-div-5">
                        <img class="about-img-1" src="img/about-img-1.png" alt="shield">
                        <div class="about-item-container">
                            <span class="about-text-item-1">We Advance Your Case Costs </span><br>
                            <span class="about-text-item-2">No Recovery - No Fees. If we don't win your case, you don't pay a dime. </span>
                            <div class="about-horizontal-line-2"></div>
                        </div>
                    </div>
                    <div class="about-div-5">
                        <img class="about-img-1" src="img/about-img-2.png" alt="hat">
                        <div class="about-item-container">
                            <span class="about-text-item-1">Highly Educated Trial Attorneys</span>
                            <span class="about-text-item-2">Our experienced attorneys are highly qualified to get you maximum compensation</span>
                            <div class="about-horizontal-line-2"></div>
                        </div>
                    </div>
                    <div class="about-div-5">
                        <img class="about-img-1" src="img/about-img-3.png" alt="clock">
                        <div class="about-item-container">
                            <span class="about-text-item-1">Strengthen Your Case </span>
                            <span class="about-text-item-2">Experienced attorneys that are ready to go to trial with 24/7 communication  </span>
                            <div class="about-horizontal-line-2"></div>
                        </div>
                    </div>
                    <div class="about-div-5">
                        <img class="about-img-1" src="img/about-img-4.png" alt="checklist">
                        <div class="about-item-container">
                            <span class="about-text-item-1">Paid Medical & Maximum Compensation</span>
                            <span class="about-text-item-2">We make sure you get the best medical care for a full recovery and recieve maximum compensation</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
     </div>
</section>


