<section id="about">
    <div class="container">
        <div class="row">
            <div class=" col-md text-center about-div-1">
                <span class="about-text-1">What You Get With Eric <br> Mausner Law</span>
                <div class="about-horizontal-line"></div>
            </div>
        </div>
        <div class="row mt-5" >
            <div class="col-md offset-md-1 about-hover">
                <div class="squareParrent">
                    <div class="squareChild"></div>
                </div>
                <div class="about-text-item-1">We Advance Your Case Costs </div>
                <div class="about-text-item-2">No Recovery - No Fees. If we don't win your case, you don't pay a dime. </div>
                <div class="about-horizontal-line-2"></div>
            </div>

            <div class="col-md offset-md-2 about-hover">
                <div class="squareParrent">
                    <div class="squareChild"></div>
                </div>
                <div class="about-text-item-1">Strengthen Your Case </div>
                <div class="about-text-item-2">Experienced attorneys that are ready to go to trial with 24/7 communication  </div>
                <div class="about-horizontal-line-2"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md offset-md-1 about-hover">
                <div class="squareParrent">
                    <div class="squareChild"></div>
                </div>
                <div class="about-text-item-1">Highly Educated Trial Attorneys</div>
                <div class="about-text-item-2">Our experienced attorneys are highly qualified to get you maximum compensation</div>
                <div class="about-horizontal-line-2"></div>
            </div>
            <div class="col-md offset-md-2 about-hover">
                <div class="squareParrent">
                    <div class="squareChild"></div>
                </div>
                <div class="about-text-item-1">Paid Medical & Maximum Compensation</div>
                <div class="about-text-item-2">We make sure you get the best medical care for a full recovery and recieve maximum compensation</div>
                <div class="about-horizontal-line-2"></div>
            </div>
        </div>
        <div class="row about-div-2">
            <div class="col-md">
                    <span class="about-text-2">A Experienced Firm For Castrophic Injury & Accident Cases </span>
                    <div class="about-horizontal-line-3"></div>

                <div style="margin-left:-1.5rem">
                    <span class="about-text-3 d-block px-4">When someone is injured in a catastrophic accident, they need the best legal representation in their corner prepared for battle against the insurance                                       companies. At Eric Mausner Law , we have attorneys that are prepared to go to trial for each of our clients.  
                        <br>   <span class="d-block mt-4">We go above and beyond for our clients to make sure they get the attention and recover the maximum compensation that they deserve. Having won awards, we are                                proud to say we have earned the respect and trust of our clients. Call Egric Mausner Law for a no obligation case evaluation and see if you qualify for us to take on your case now.                                     </span></span>
                    </div>
            </div>
                <div class="col-md about-div-3">
                    <span class="about-text-4 d-block">We Aggressively Represent The Rights Of The Wrongfully Injured</span>
                    <div>
                        <button class="about-button">Get a free case evaluation today</button>
                    </div>
                </div>

        </div>
    </div>
</section>

