<section id="bio">
    <div class="container nopadding">
        <div class="row">
            <div class="col-lg-8 bio-div-1 wow zoomInLeft">
                <h2 class="bio-text-1">Why Choose Eric Mausner Law </h2>
                <div class="bio-horizontal-line"></div>
                <div class="bio-div-2">
                    <input type="checkbox" class="read-more-state-bio" id="post-1-bio" />
                    <p class="read-more-wrap-bio bio-text-2"> As a former prosecuter and a former Assistant State Attorney at the Miami- Dade State Attorney's office, Eric Mausner has extensive trial work experience.
                        <span class="read-more-target-bio">  Eric has also represented members of labor unions in railroad lawsuits under the Federal Employer's Liability Act (FELA). Being a 3rd Generation Attorney, standing in the courtroom is natural for Eric. He founded Eric Mausner Law with one goal in mind: to use his expertise to help Catastrophic and Tramatic Injury cases. Having served the community for over a decade, Eric has the experience in knowing how to fight to represent people who have been seriously injured. </span></p>
                    <label for="post-1-bio" class="read-more-trigger-bio"><img class="bio-more-arrow" src="img/test-arrow-next.png"></label>
                </div>
                    <a href="#contact" title="contact us"><button class="bio-button wow pulse infinite">Get a free case evaluation today</button></a>
                </div>
            <div class="col-lg-4 wow zoomInRight">
                <img class="bio-photo" src="img/bio-eric.png" alt="eric mausner personal attorney">
            </div>
        </div>
    </div>
</section>