<section id="bio">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5  bio-div-1 wow zoomInLeft">
                <h2 class="bio-text-1">Why Choose Eric Mausner Law </h2>
                <div class="bio-horizontal-line"></div>
                <div class="bio-div-2">
                    <input type="checkbox" class="read-more-state-bio" id="post-1-bio" />
                    <p class="read-more-wrap-bio bio-text-2"> As a former prosecutor at the Miami-Dade State Attorney's Office, Eric Mausner has extensive trial and courtroom experience.
                        <span class="read-more-target-bio">Having both served the community for over a decade in various areas of government and worked in personal injury law firms, Eric understands how to fight for people who have been seriously injured. He founded Eric Mausner Law, P.A. with one goal in mind: to use his experience to represent individuals who have been injured by the negligence of others.
                        </span></p>
                    <label for="post-1-bio" class="read-more-trigger-bio"><img class="bio-more-arrow" src="img/test-arrow-next.png"></label>
                </div>
                    <a href="#contact" title="contact us"><button class="bio-button wow pulse infinite">Get a free case evaluation today</button></a>
                </div>
            <div class="col-lg-4 offset-lg-3 wow zoomInRight">
                <img class="bio-photo" src="img/bio-eric.png" alt="eric mausner personal attorney">
            </div>
        </div>
    </div>
</section>