<section id="contact">
    <div class="container">
        <div class="row">
            <img class="contact-book" src="img/contact-book.png">
            <div class="col-md-7 contact-div-1">
                <span class="contact-text-1">
                    If you are ready to discuss your case <br>
                    with The Eric Mausner Firm, <br>
                    schedule your free consultation today: <br>
                </span>
            </div>
            <div class="col-md-4 offset-md-1">
                <form class="contact-from">
                    <input required type="text" placeholder="Your name"><br>
                    <input required type="text" placeholder="Phone"><br>
                    <input required type="text" placeholder="Number"><br>
                    <select required>
                            <option disabled selected="true" disabled="disabled"> Are u new client?</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                    </select><br>
                    <textarea  placeholder="Message"></textarea>                  
                    <input type="submit" value="send your message">
                </form>
            </div>
        </div>
        <img class="contact-b-card-1" src="img/contact-card-1.png">
        <img class="contact-b-card-2" src="img/contact-card-2.png">
        <img class="contact-pens" src="img/contact-pens.png">
    </div>

</section> 