<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12 contact-div-1" >
                <h2 class="contact-text-1 ">
                    <span class="show-wihout-xs">If you are ready to <span class="contact-text-2">discuss your case</span><br>
                    with The Eric Mausner Firm, <br></span>
                    schedule your <span class="contact-text-3">free consultation today:</span> <br>
                </h2>
            </div>
            <div class="contact-div-2 wow fadeIn">
                <img class="contact-book" src="img/contact-book.png">

                <form class="contact-from  pl-lg-5 pr-lg-5">
                    <input required type="text" placeholder="Your name"><br>
                    <input required type="text" placeholder="Phone"><br>
                    <input required type="text" placeholder="Number"><br>
                    <select required>
                            <option disabled selected="true" disabled="disabled"> Are u new client?</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                    </select><br>
                    <textarea  placeholder="Message"></textarea>                  
                    <input type="submit" value="send your message">
                </form>

            </div>
        </div>
        <img class="contact-b-card-1 wow zoomIn" src="img/contact-card-1.png" alt="contact buisness card">
        <img class="contact-b-card-2 wow zoomIn" data-wow-delay="0.5s" src="img/contact-card-2.png" alt="contact buisness card">
        <img class="contact-pens wow zoomIn" data-wow-delay="0.7s" src="img/contact-pens.png" alt="pens">
    </div>

</section> 