<section id="footer">
        <div class="container-fluid">
                <div class="row">
                        <div class="footer-margin">
                                <div class="col-md-3 offset-md-2">
                                        <img src="img/logo.png" class="footer-logo" />
                                </div>
                                <div class="col-md-2 ml-md-5">
                                                <span class="footer-text-1">address</span> <br>
                                                <span class="footer-text-2">
                                                        Eric Mausner Law,P.A. <br>
                                                        1 NE 2nd Avenue, Suite 200 <br>
                                                        Maiami, FL 33132
                                                </span>
                                </div>
                                <div class="col-md-2 footer-minus-margin-left">
                                        <span class="footer-text-1">contact us</span> <br>           
                                        <span class="footer-text-2">
                                                <img class="footer-icon" src="img/footer-phone.png" /> 305-800-TORT (8678) <br>
                                                <img class="footer-icon" src="img/footer-fax.png" /> FAX: 305-800-8677 <br>
                                                <img class="footer-icon" src="img/footer-mail.png" /> eric@mausnerlawfirm.com
                                         </span>
                                </div>
                                <div class="col-md-2 footer-minus-margin-left">
                                        <span class="footer-text-1">social media</span> 
                                        <div class="footer-social-main">
                                                <a href="#"><div class="footer-social"><img class="footer-img" src="img/footer-facebook.png" />  </div></a>
                                                <a href="#"><div class="footer-social"><img class="footer-img" src="img/footer-google.png" /> </div></a>
                                                <a href="#"><div class="footer-social"><img class="footer-img" src="img/footer-twitter.png" /> </div></a>
                                        </div>                                        
                                </div>
                        </div> 
                </div>
        </div>
                
                
</section>
