<section id="footer">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-3 offset-lg-2 col-md-6 mt-md-4 footer-text-align"> <img src="img/logo.png" class="footer-logo" /></div>
                        <div class="col-lg-2 ml-lg-5 col-md-6 mt-md-4 mt-sm-4 footer-text-align">
                                <span class="footer-text-1">address</span> <br>
                                <span class="footer-text-2">
                                                        Eric Mausner Law,P.A. <br>
                                                        1 NE 2nd Avenue, Suite 200 <br>
                                                        Maiami, FL 33132
                                                </span>
                        </div>
                        <div class="col-lg-2 footer-minus-margin-left mt-md-4 mt-sm-4 col-md-6  footer-text-align">
                                <span class="footer-text-1">contact us</span> <br>
                                <span class="footer-text-2">
                                    <img class="footer-icon" src="img/footer-phone.png" /> <a href="tel:3058008678">305-800-TORT (8678)</a> <br>
                                    <img class="footer-icon" src="img/footer-fax.png" /> FAX: <a href="tel:3058008678">305-800-8677</a> <br>
                                    <img class="footer-icon" src="img/footer-mail.png" /> eric@mausnerlawfirm.com
                                </span>
                        </div>
                        <div class="col-lg-2 footer-minus-margin-left mt-md-4 mt-sm-4 col-md-6 footer-text-align">
                                <span class="footer-text-1">social media</span>
                                <div class="footer-social-main">
                                        <a href="#"><div class="footer-social"><img class="footer-img" src="img/footer-facebook.png" />  </div></a>
                                        <a href="#"><div class="footer-social"><img class="footer-img" src="img/footer-google.png" /> </div></a>
                                        <a href="#"><div class="footer-social"><img class="footer-img" src="img/footer-twitter.png" /> </div></a>
                                </div>
                        </div>
                </div>
        </div>
                
</section>
