<section id="footer" style="font-size:45px">
    <p style="font-family:Helvetica;font-weight: 900">Footer</p>
    <p style="font-family:Helvetica;font-weight: 800">Footer</p>
    <p style="font-family:Helvetica;font-weight: 700">Footer</p>
    <p style="font-family:Helvetica;font-weight: 600">Footer</p>
    <p style="font-family:Helvetica;font-weight: 500">Footer</p>



    <p style="font-family:Merriweather;font-weight: 900">Testimonitals </p>
    <p style="font-family:Merriweather;font-weight: 800">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 700">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 600">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 500">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 500">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 400">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 300">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 200">Testimonitals</p>
    <p style="font-family:Merriweather;font-weight: 100">Testimonitals</p>
</section>
