<section id="header" class="wow fadeIn">

    <div class="logo-block">
        <div class="container-fluid d-flex ">
            <div class="col-lg-6 col-md-8  d-lg-none text-left logo-block-logo-div text-sm-center text-xs-center">
                <img class="logo-image" src="img/logo.png"/>
                <br>
                <span class="logo-block-text-4">Miami personal injury attorney</span>

            </div>
            <div class="col-lg-3 col-md-4 d-lg-none d-md-block d-none d-sm-none d-xs-none text-right logo-block-call-div">
                <span class="logo-block-text-1">You Only Pay If We Win</span><br>
                <img class="logo-block-phone-icon" src="img/phone.png"/>
                <span class="logo-block-text-2">212.577.9325</span><br>
                <span class="logo-block-text-3">We Are Available 24/7</span>

            </div>
            <div class="col-lg-3 d-lg-block d-md-none  d-none d-sm-none d-xs-none logo-block-call-div">
                <span class="logo-block-text-1" id="logo-block-text-1-animation">You Only Pay If We Win</span><br>
                    <img class="logo-block-phone-icon" id="logo-img-animation" src="img/phone.png"/>
                    <span class="logo-block-text-2" id="logo-block-text-2-animation">212.577.9325</span><br>
                <span class="logo-block-text-3">We Are Available 24/7</span>

            </div>
            <div class="col-lg-6 d-lg-block d-md-none d-none d-sm-none d-xs-none text-center logo-block-logo-div">
                <img class="logo-image" src="img/logo.png"/>
                <br>
                <span class="logo-block-text-4">Miami personal injury attorney</span>

            </div>
            <div class="col-lg-3 d-none d-lg-block d-md-none d-sm-none d-xs-none logo-block-button-div text-right">
                <!--<button class="logo-block-button">Request a free <br> consultation</button>-->
                <button class="checkBox" id="logo-button-animation">
                    <span class="logo-block-button">Request a free <br>consultation</span>
                    <svg width="275" height="66" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 265 66">
                        <rect class="button" width="255" height="63.9" x="1" y="1"></rect>
                        <rect y="22.5" class="box" width="20" height="20"></rect>
                        <polyline class="checkMark" points="4.5,32.6 8.7,36.8 16.5,29.1"></polyline>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark" id="menuNav">
        <div class="col-6 d-sm-block d-md-none logo-block-call-div">
            <span class="logo-block-text-1">You Only Pay If We Win</span><br>
            <img class="logo-block-phone-icon" src="img/phone.png"/>
            <span class="logo-block-text-2">212.577.9325</span><br>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-nav ml-auto mr-auto">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="nav-item nav-link" href="#">Practice   Areas</a>
                <a class="nav-item nav-link" href="#">Why Choose</a>
                <a class="nav-item nav-link" href="#">Testimonials</a>
                <a class="nav-item nav-link" href="#">Contact</a>
            </ul>

        </div>
    </nav>



</section>