<section id="honors">
    <div class="container-fluid ">
        <div class="row no-gutters">
        <div class="col-lg-4 col-md-4 honors-text-block wow slideInLeft">
            <span class="honors-text-1">Honors & <span class="honors-text-2">Awards</span></span>
            <span class="honors-text-3">Eric Mausner has been awarded the "Top 40 Under 40" achievement award from the National Trial Lawyers Association. Learn more about our awarded Florida Personal Injury Firm.</span>
        </div>
        <div class="honors-horizontal-line"></div>
            <!-- dont touch width! hot fix! :) -->
        <div class="col-lg-8 col-md-8 col-sm-11 col-12" style="width:1px">

            <div class="jcarousel-wrapper wow slideInLeft">
                <!-- Carousel -->
                <div class="jcarousel">
                    <ul>
                        <li><img class="jcarousel-img-1" src="img/NTL.png" alt="ntl logo"></li>
                        <li><img class="jcarousel-img-2" src="img/aaj.png" alt="aaj logo"></li>
                        <li><img class="jcarousel-img-3" src="img/fja.png" alt="fja logo"></li>
                        <li><img class="jcarousel-img-4" src="img/dcba.png" alt="dcba logo"></li>
                        <li><img class="jcarousel-img-5" src="img/Fl.png" alt="fl logo"></li>
                        <li><img class="jcarousel-img-6" src="img/mdtla.png" alt="mdtla logo"></li>
                    </ul>
                </div>
                <a href="#" title="jcarousel" class="jcarousel-control-next"><img class="honors-arrow" src="img/arrow.png" alt="arrow next"></a>

            </div>

        </div>
        </div>

    </div>


</section>
