<section id="content">
    <div class="main" id="main">
        <div class="container d-flex">
            <div class="main-block-1 col-lg-9">
                <span class="main-block-text-1  slideInLeft wow" ><span class="main-block-text-6">a trusted</span> voice for </span>
                <span class="main-block-text-2  slideInLeft wow"  data-wow-delay="0.1s">florida accident victims</span>
                <span class="main-block-text-3  slideInLeft wow" data-wow-delay="0.2s">eric mausner <span class="main-block-text-4">law, p.a.</span></span>
                <a href="#contact"><button class="main-block-button-1 slideInLeft wow" data-wow-delay="0.4s" href="#contact">see how we can help</button></a>
                <span class="main-block-text-5 slideInLeft wow " data-wow-delay="0.3s">We know how to win!</span>

            </div>
            <img class="main-img-1 wow zoomIn" src="img/eric.png">
        </div>
    </div>
</section>
<div class="main-block-button-xs d-none">
    <a href="#contact"> <button class="main-block-button-2 wow bounce infinite">see how we can help</button></a>
</div>
