<section id="content">
    <div class="main" id="main">
        <div class="mobile-gradient"></div>
        <div class="container-fluid d-flex">
            <img class="main-img-2 wow zoomIn" src="img/eric.png" alt="eric mausner">
            <div class="main-block-1 col-lg-7">
                <h1>
                    <span class="main-block-text-1 slideInLeft wow" ><span class="main-block-text-6">a trusted</span> voice for </span>
                    <span class="main-block-text-2  slideInLeft wow"  data-wow-delay="0.1s">florida accident <span class="main-victims-mobile">victims</span></span>
                </h1>
                <span class="main-block-text-3  slideInLeft wow" data-wow-delay="0.2s">eric mausner <span class="main-block-text-4">law, p.a.</span></span>
                <a href="#contact" title="contact"><button class="main-block-button-1 slideInLeft wow" data-wow-delay="0.4s" href="#contact">see how we can help</button></a>
                <span class="main-block-text-5 slideInLeft wow " data-wow-delay="0.3s">We know how to win!</span>
            </div>
            <div class="offset-lg-1 wow zoomIn">
                <div class="main-logo-description">
                    <div class="main-logo-description-2">
                        <span class="main-logo-text">As seen on:</span>
                    </div>
                    <div class="main-logos">
                        <img src="img/cnn-logo.png">
                        <img src="img/cnbc-logo.png">
                        <img src="img/foxnews-logo.png">
                        <img src="img/7news-logo.png">
                    </div>
                </div>
                <img class="main-img-1 wow zoomIn" src="img/eric.png" alt="eric mausner personal attorney">
            </div>
        </div>
    </div>

<!--     background: linear-gradient(to top, #003465, #f1da3600);  -->
</section>
<div class="main-block-button-xs d-none">
    <a href="#contact"> <button class="main-block-button-2 wow bounce infinite">see how we can help</button></a>
</div>
