<section id="content">
    <div class="main">
        <div class="container d-flex">
            <div class="main-block-1 col-md-9">
                <span class="main-block-text-1">a trusted voice for florida</span>
                <span class="main-block-text-2">accident victims</span>
                <span class="main-block-text-3">eric mausner <span class="main-block-text-4">law, p.a.</span></span>
                <span class="main-block-text-5">We know how to win!</span>
                <button class="main-block-button-1">see how we can help</button>
            </div>
            <img class="main-img-1" src="img/eric.png">
        </div>
    </div>
</section>