<section id="practice">
    <div class="container-fluid practice-div-1">
        <div class="col-lg text-center practice-div-2 wow zoomInRight">
            <span class="practice-text-1">Practice Areas<span class="practice-text-2"> We Cover </span></span>
        </div>
        <div class="row">
            <div class="col-lg-6 nopadding practice-div-3 wow zoomInLeft">
                <a href="#">
                    <div class="temp">
                        <img class="practice-img" src="img/practice-img-1.png">
                        <span class="practice-text-3">Personal Injury </span>
                        <div class="about-div-more">
                            <span class="about-more">more</span>
                            <img class="practice-arrow" src="img/practice-arrow.png">
                        </div>
                        <span class="practice-description-1 ">
                            Our firm aggressively represents a wide range of individuals who have been injured due to the negligence of others and we work closely with our clients to maximize their recovery.
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 nopadding practice-div-4 wow zoomInLeft" data-wow-delay="0.3s">
                <a href="#">
                        <img class="practice-img" src="img/practice-img-2.png">
                        <span class="practice-text-4">Property Damage </span>
                        <div class="about-div-more">
                            <span class="about-more">more</span>
                            <img class="practice-arrow" src="img/practice-arrow.png">
                        </div>
                         <span class="practice-description-2">
                           Our experienced team is ready to represent both individuals and businesses in claims regarding residential and commercial property damage resulting from Hurricane Irma  well as storm, hail, fire, flood,as or wind damage.
                        </span>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 nopadding practice-div-3 wow zoomInLeft" data-wow-delay="0.6s">
                <a href="#">
                    <img class="practice-img" src="img/practice-img-3.png">
                    <span class="practice-text-3">Criminal Defense</span>
                    <div class="about-div-more">
                        <span class="about-more">more</span>
                        <img class="practice-arrow" src="img/practice-arrow.png">
                    </div>
                    <span class="practice-description-1 ">
                            Our firm aggressively represents a wide range of individuals who have been injured due to the negligence of others and we work closely with our clients to maximize their recovery.
                    </span>
                </a>
            </div>
            <div class="col-lg-6 nopadding practice-div-4 wow zoomInLeft" data-wow-delay="0.9s">
                <a href="#">
                    <img class="practice-img" src="img/practice-img-4.png "></a>
                    <span class="practice-text-4">Mass Torts  </span>
                    <div class="about-div-more">
                        <span class="about-more">more</span>
                        <img class="practice-arrow" src="img/practice-arrow.png">
                    </div>
                    <span class="practice-description-3 ">
                            Hire a former prosecutor to zealously defend your rights under the law and ensure that you make the best decisions in your case.
                    </span>

            </div>
        </div>
    </div>

</section>
