<section id="practice">
    <div class="container-fluid practice-div-1">
        <div class="col-lg text-center practice-div-2 wow zoomInRight">
            <h2 class="practice-text-1">Practice Areas</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 nopadding practice-div-3 wow zoomInLeft">
                <a href="personalInjury.html" title="personal injury">
                    <div class="temp">
                        <img class="practice-img" src="img/practice-img-1.png" alt="personal injury">
                        <span class="practice-text-3">Personal Injury </span>
                        <div class="practice-arrow">
                            <span class="about-more">more</span>
                            <img src="img/practice-arrow.png" alt="arrow">
                        </div>
                        <span class="practice-description-1 ">
                            Our firm aggressively represents a wide range of individuals who have been injured due to the negligence of others and we work closely with our clients to maximize their recovery.
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-6 nopadding practice-div-4 wow zoomInLeft" data-wow-delay="0.3s">
                <a href="propertyDamage.html" title="property damage">
                        <img class="practice-img practice-img-2-mobile" src="img/practice-img-2.png" alt="property damage" >
                        <span class="practice-text-4">Property Damage </span>
                        <div class="practice-arrow-2 show-without-xs">
                            <span class="about-more">more</span>
                            <img  src="img/practice-arrow.png" alt="arrow">
                        </div>
                         <span class="practice-description-2">
                           Our experienced team is ready to represent both individuals and businesses in claims regarding residential and commercial property damage resulting from Hurricane Irma  well as storm, hail, fire, flood,as or wind damage.
                        </span>
                </a>

            </div>
            <div class="col-sm-6 col-6 nopadding practice-div-3 wow zoomInLeft" data-wow-delay="0.6s">
                <a href="criminalDefense.html" title="criminal defense">
                    <img class="practice-img practice-img-3-mobile" src="img/practice-img-3.png" alt="criminal defense">
                    <span class="practice-text-3">Criminal Defense</span>
                    <div class="practice-arrow show-without-xs">
                        <span class="about-more">more</span>
                        <img src="img/practice-arrow.png" alt="arrow">
                    </div>
                    <span class="practice-description-1 ">
                         Hire a former prosecutor to zealously defend your rights under the law and ensure that you make the best decisions in your case.
                    </span>
                </a>
            </div>
            <div class="col-sm-6 nopadding practice-div-4 wow zoomInLeft" data-wow-delay="0.9s">
                <a href="massTorts.html" title="mass torts">
                    <img class="practice-img " src="img/practice-img-4.png " alt="mass tors">
                    <span class="practice-text-4">Mass Torts  </span>
                    <div class="practice-arrow-2">
                        <span class="about-more">more</span>
                        <img src="img/practice-arrow.png" alt="arrow">
                    </div>
                    <span class="practice-description-3 ">
                           Our firm aggressively represents a wide range of individuals who have been injured due to the negligence of others and we work closely with our clients to maximize their recovery.
                    </span>
                </a>
            </div>
        </div>
    </div>

</section>
