<section id="testimonials">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center wow slideInLeft">
                    <h2 class="testimonials-text-1 d-block">Hear What Our Clients Have To Say</h2>
                    <div class="testimonials-line-1"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid wow zoomIn nopadding-xs">
        <div class="testimonials-jcarousel-wrapper ">
            <div class="testimonials-div-1-border"></div>
            <div class="testimonials-carousel">
                <ul>
                    <li>
                        <div class="testimonials-div-1">
                            <div class="testimonials-div-2">Natalie
                                <div class="testimonials-line-2"></div>
                                <div class="testimonials-line-3"></div>
                            </div>
                            <div class="testimonials-div-3">
                                I sustained severe lacerations to my right (dominant) hand as a result of an accident with a commuter train door. I didn't expect to see a dollar from pursuing legal action against a company as large as the train owner/operator, but I decided to anyway because the lack of warning signs and safety features on the train created a dangerous environment and posed a high risk for this type of injury to happen to someone else. Eric Mausner Law leveraged their experience in train litigation to help me determine that I had a strong case. Their clear communication, attention to detail, and swift response time made what could have been a frusterating and difficult experience as smooth as possible.
                            </div>
                        </div>
                        <div class="testimonials-div-4">
                            <a href="#" class="testimonials-control-back"><img src="img/test-arrow-back.png" alt="arrow prev"></a>
                            <a href="#" class="testimonials-control-next"><img src="img/test-arrow-next.png" alt="arrow next"></a>
                        </div>
                    </li>
                    <li>
                        <div class="testimonials-div-1">
                            <div class="testimonials-div-2">Andrew
                                <div class="testimonials-line-2"></div>
                                <div class="testimonials-line-3"></div>
                            </div>
                            <div class="testimonials-div-3">
                                I have had the occasion to work with the Eric  Mausner Law Firm on several occasions spanning a variety of matters. They are well prepared and throughtful. Eric is a zelous advocate and tough negotiator. His robust trial experience provides him with a command of the litigation lifecycle. If an appropriate pre-trial solution is not made available to clients, he is ready and willing to see the matter through trial and appeal. Eric is an effective litigator and formidable adversary. I would highly recommend the services of Eric Mausner Law for referral, local counsel and co-counsel opportunities.
                            </div>
                        </div>
                        <div class="testimonials-div-4">
                            <a href="#" class="testimonials-control-back"><img src="img/test-arrow-back.png" alt="arrow prev">></a>
                            <a href="#" class="testimonials-control-next"><img src="img/test-arrow-next.png" alt="arrow prev">></a>
                        </div>
                    </li>
                    <li>
                        <div class="testimonials-div-1">
                            <div class="testimonials-div-2">Leigh
                                <div class="testimonials-line-2"></div>
                                <div class="testimonials-line-3"></div>
                            </div>
                            <div class="testimonials-div-3">
                                I reached out to Eric Mausner Law for legal advice and representation over a very stressful incident, and was immediately impressed by how professional he was. He was very frank, gave honest advice, and didn't try to beat around the bush with legal jargon as many lawyers do. He was extremely attentive, and responded to all correspondence efficiently. I was both thankful and impressed with his services, and would highly recommend him to anyone.
                            </div>
                        </div>
                        <div class="testimonials-div-4">
                            <a href="#" class="testimonials-control-back"><img src="img/test-arrow-back.png" alt="arrow prev">></a>
                            <a href="#" class="testimonials-control-next"><img src="img/test-arrow-next.png" alt="arrow prev">></a>
                        </div>
                    </li>
                    <li>
                        <div class="testimonials-div-1">
                            <div class="testimonials-div-2">Ross
                                <div class="testimonials-line-2"></div>
                                <div class="testimonials-line-3"></div>
                            </div>
                            <div class="testimonials-div-3">
                                Eric is professional, intelligent, and persistent. He is an excellent attorney who practices with strong attention to detail. I regularly discuss case strategy with Mausner Law Firm to get valuable perspective - they are always helpful.
                            </div>
                        </div>
                        <div class="testimonials-div-4">
                            <a href="#" class="testimonials-control-back"><img src="img/test-arrow-back.png" alt="arrow prev">></a>
                            <a href="#" class="testimonials-control-next"><img src="img/test-arrow-next.png" alt="arrow prev">></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</section>

