$nav-font-color: #ccc8c8;
$nav-font-color-hover: #ceab6f;
$nav-background-color: #193c5d;
$logo-block-background-color: #123454;
$logo-block-text-3-color: #b4b4b4;
$logo-block-text-4-color:#8f969e;
$main-block-blue: #003466;
$main-block-yellow: #ceab6f;
$transparent-color: unquote('#fbefef00');
$testimonials-div-border:#0f4c85;
$contact-block-2-color: #12293f;