
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('../fonts/Helvetica/HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('../fonts/Helvetica/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
  url('../fonts/Helvetica/HelveticaNeueCyr-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../fonts/Helvetica/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/Helvetica/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../fonts/Helvetica/HelveticaNeueCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
