#footer-2{
    background-color: $contact-block-2-color;
    color:white;
    padding: 30px 0px;
}
.footer-2-text-1{
    font-weight: 300;
    font-size: 12px;
}
.footer-2-div-1{
    margin-left: 44px;
    line-height: 15px;
}

.footer-2-margin-left{
    margin-left: -80px;
}