
#header{
  background-color: #eff3f6;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.nav-item{
  margin-right: 40px;
  color: $nav-font-color;
  //padding-top: 26px;
  //padding-bottom: 26px;
  padding-top:10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-top: 2px solid $nav-font-color;
  transition:1s;
  border-color:#fff0;
  margin: 0px 63px;
  font-size: 14px;
}

.nav-item:hover{
  color: $nav-font-color-hover;
  border-color:#fff;
}

.navbar{
  transition:1s;
  background-color: $nav-background-color;
  padding: 0px;
  //border-top: 2px solid #ffffff0f;
  border-top: 2px solid #eaeaea1a;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  Z-INDEX: 2;
  padding-bottom:15px;
  padding-top: 15px;
}
.main-animation{
  transition:1s;
  margin-top:60px;
}
.navbar-nav{
  margin-top: -2px;

}
.navbar-expand-md .navbar-nav .nav-link{
  padding-right: 0px;
  padding-left: 0px;
}
.logo-block{
  height: 100px;
  background-color: $logo-block-background-color;
}
.logo-image{
  margin-top: 10px;
  //margin-left: -78px;
  width: 370px;
}
.logo-block-call-div{
  //margin-top: 24px;
  //margin-left: -38px;
  margin-top:10px;
}
.logo-block-phone-icon{
  margin-top: -6px;
}
.logo-block-text-1{
  font-family: Merriweather,serif;
  color: #fff;
  font-size: 16px;
  font-style: italic;
}
.logo-block-text-1-animation{
  animation: translateInTop 2s;
  transition:1s;
  z-index: 3;
  position:fixed;
  top: 1px;
}
.logo-block-text-2{
  color: $nav-font-color-hover;
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
}
.logo-block-text-2-animation{
  animation: translateInTop 2s;
  z-index: 3;
  position:fixed;
  top: 31px;
  left: 44px;
}
.logo-img-animation{
  animation: translateInTop 2s;
  z-index: 3;
  position:fixed;
  top: 43px;
}
.logo-button-animation{
  animation: translateInTop 2s;
  position: fixed!important;
  right: 54px;
  top: -9px;
  z-index: 3;
}
.logo-block-text-3{
  color: $logo-block-text-3-color;
  font-size: 12px;
  font-weight: 300;
  margin-top: 0px;
  margin-left: 3px;
  display: block;
  letter-spacing: 1px;
}
.logo-block-text-4{
  color: $logo-block-text-4-color;
  display: block;
  margin-top: 10px;
  margin-left:11px;
  //margin-left: -67px;
  font-size: 10px;
  letter-spacing: 6px;
  font-style: normal;
  text-transform: uppercase;
  font-family: Merriweather,serif;
}
.logo-block-logo-div{
  //margin-top: 22px;
  //margin-left: 87px;
  margin-top:9px;
}
.logo-block-button{
 /* background-color: #fff0;
  border: solid 1px white;
  color: $nav-font-color-hover;
  padding: 10px 39px;
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;*/
  letter-spacing: 1px;
  font-size: 13px;
  color: $nav-font-color-hover;
  line-height: 16px;
  display: block;
}
.logo-block-button-div{
  //margin-top: 32px;
  //margin-left: 24px;
  //margin-top: 17px;
  margin-left:-22px;
  //margin-left: 19px;
}

/* button animation */
.checkBox {
  width: 222px;
  height: 66px;
  margin: 15px auto;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #fff0;
  border: #fff0;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: white;
  stroke-width: 1;
}

.checkBox:hover svg polyline {
  stroke: white;
}
.checkBox svg {
  margin-left: -10px;
}
.checkBox svg rect, .checkBox svg polyline {
  fill: none;
  stroke:white;
  stroke-width: 1.7;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.checkBox:hover svg rect {
  stroke-width: 2;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.checkBox svg .button {
  stroke-dasharray: 400px, 0;
}
.checkBox:hover svg .button {
  stroke-dasharray: 0, 400px;
  stroke-dashoffset: 33px;
}
/* Check Mark Effect */
.box, .checkMark {
  opacity: 0;
}
.checkBox:hover .box {
  -webkit-animation: boxDisplay 0.2s forwards;
  -moz-animation: boxDisplay 0.2s forwards;
  -ms-animation: boxDisplay 0.2s forwards;
  -o-animation: boxDisplay 0.2s forwards;
  animation: boxDisplay 0.2s forwards;
  -webkit-animation-delay: 0.65s;
  -moz-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
.checkBox:hover .checkMark {
  -webkit-animation: checkDisplay 0.2s forwards;
  -moz-animation: checkDisplay 0.2s forwards;
  -ms-animation: checkDisplay 0.2s forwards;
  -o-animation: checkDisplay 0.2s forwards;
  animation: checkDisplay 0.2s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
/* Check Box Display */
@-webkit-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes boxDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Check Mark Display */
@-webkit-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes checkDisplay {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes translateInTop {
  from { transform: translateY(-100px); }
  to   { transform: translateY(0px); }
}