#honors{
  background-color: #f3f3f3;
  height: 180px;
}
.honors-text-block{
  margin-top: 18px;
}
.honors-text-1{
  display:block;
  font-size: 38px;
  color:$main-block-blue;
  padding-left: 27px;
}
.honors-text-2{
  font-weight: 900;
  color:$main-block-yellow;
}
.honors-text-3{
  display: block;
  margin-top: 16px;
  margin-left: 3px;
  line-height: 18px;
  width: 95%;
  font-size: 16px;
  text-align: left;
  font-weight: 100;
  padding-left: 28px;
}
.honors-text-4{
  display:block;
}
.honors-horizontal-line{
  border-left: 1px solid #d5d4d4;
  height: 140px;
  margin-top: 20px;
  margin-left: 34%;
  position: absolute;
}
//carousel

.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 10000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
  margin-left: 2vw;
}

.jcarousel-img-1{
  height: 116px;
}
.jcarousel-img-2{
  height: 128px;
}
.jcarousel-img-3{
  height: 119px;
}
.jcarousel-img-4{
  height: 119px;
}
.jcarousel-img-5{
  height: 128px;
}
.jcarousel-img-6{
  height: 125px;
}

.jcarousel-wrapper{
  margin-top: 24px;
  margin-left: 55px;
}

.jcarousel-control-next{
  position: absolute;
  left:88%;
  top: 90px;
}