#content,#about-page,#inner{
  padding-top:142px;
}
.main{
  background-image: url(../img/header-bg.png);
  background-color: #ebf0f4;
  height: 550px;
  width: 100%;
  background-position-y: -111px;
}
.main-block-text-1{
  display: block;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-block-blue;
}
.main-block-text-2{
  display: block;
  font-size: 42px;
  font-weight: bold;
  color: $main-block-blue;
  text-transform: uppercase;
  margin-top: -4px;
}
.main-block-text-3{
  color: $main-block-yellow;
  text-transform: uppercase;
  display: block;
  font-size: 49px;
  margin-top: -13px;
  margin-left: -3px;
  font-weight: 900;
}
.main-block-text-4{
  color:$main-block-blue;
}
.main-block-text-5{
  font-family: Merriweather,serif;
  color: white;
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  margin-left: 4px;
  margin-top: 0px;
  display: block;
  background-color: $main-block-blue;
  padding-left: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 250px;
}
.main-block-text-6{
  font-size: 42px;
  background-color: #003466;
  padding: 4px 17px;
  color: white;
}

.main-block-button-1{
  background-color: #fbefefc2;
  border: 2px solid #003466;
  color: $main-block-blue;
  margin-top: 25px;
  margin-left: 4px;
  padding: 18px 76px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  transition:1s;
}
.main-img-2{
  display: none;
}
.main-block-button-1:hover{
  background-color:$main-block-yellow;
  border-color: $main-block-yellow;
  color:white;
}
.main-block-1{
  padding-top: 110px;
  margin-left: -36px;
}
.main-img-1{
  height: 514px;
  margin-top: 36px;
}