// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
    .footer-text-align{
        text-align:center;
    }
    .sticky{
        padding-top:0px;
        padding-bottom:0px;
    }
    .nav-item{
        margin: 0 30px;
    }
    .main{
        background-position-y: -200px;
    }
    .jcarousel-control-next {
        position: absolute;
        right: 50px;
        top: 240px;
    }
    .honors-horizontal-line{
        margin-left: 298px;
    }
    .logo-block-logo-div{
        margin-left: 0px;
        text-align: left!important;
    }
    .logo-block-call-div{
        margin-left: 0px;
    }
    .checkBox svg {
        margin-left: -53px;
    }
    .logo-block-button {
        margin-left: -38px;
        letter-spacing: 1px;
        font-size: 15px;
        color: #ceab6f;
        line-height: 18px;
        display: block;
    }
    .logo-block-text-4{
        margin-left: 5px;
        font-size: 10px;
    }
    .main-block-text-5{
        font-size: 24px;
    }
    .main-block-button-1{
        margin-left: -5px;
        padding: 18px 54px;
        font-size: 15px;
    }
    .main-block-text-3{
        font-size: 23px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main-block-text-1, .main-block-text-2{
        font-size: 22px;
    }

    .main{
        height: 344px;
    }
    .logo-image{
       margin-left: 0px;
    }
    .main-img-1 {
        height: 333px;
        margin-top: 10px;
    }
    .main-block-1 {
        padding-top: 53px;
        margin-left: 0px;
    }
    .honors-text-1 {
        display: block;
        font-size: 28px;
        color: #003466;
    }
    .bio-text-2 {
        font-size: 17px;
        font-weight: 300;
        color: #003466;
        line-height: 15px;
    }
    .bio-photo {
        display:none;
    }
    .bio-button{
        font-size: 20px;
    }
    .offer-text-1 {
        font-size: 32px;
    }
    .bio-text-2{
        font-size: 21px;
    }
    .offer-div{
        padding-top: 22px;
    }
    .testimonials-div-2 {
        height: 433px;
        width: 613px;
    }
    .testimonials-div-3 {
        font-size: 18px;
        line-height: 26px;
        height: unset;
    }
    .testimonials-div-4 {
        width: 285px;
        background-color: #0f4c85;
        margin-left: 43px;
        height: 97px;
        margin-top: -45px;
        position: relative;
        padding: 32px 135px;
        font-size: 26px;
        color: #fff;
    }
    .testimonials-div-5 {
        font-size: 18px;
        line-height: 31px;
        height: 387px;
    }
    .testimonials-margin-left{
        margin-left:0px;
    }
    .testimonials-margin-right{
        margin-left:0px;
    }
    .contact-book {
        display: none;
    }
    .contact-pens {
        right: 18px;
        margin-top: -300px;
        display: inherit;
    }
    .contact-div-1 {
        text-align:center;
        margin-left:0px;
    }
    .contact-b-card-1{
        display:none;
    }
    .contact-b-card-2{
        display:none;
    }
    .footer-logo {
        width: 339px;
        margin-top: 36px;
        margin-left:0px;
    }
    .footer-minus-margin-left {
        margin-left: 0px;
    }
    .about-horizontal-line-3{
        margin-left: auto;
        margin-right: auto;
    }
    .about-div-3{
        margin-left: 0px;
    }
    .about-text-3{
        font-size: 25px;
    }
    .about-text-4{
        font-size: 50PX;
    }
    .about-div-3{
        margin-top: 50px;
    }
    .about-button{
        font-size: 23px;
    }
    .practice-text-3, .practice-text-4{
        margin-left: 57px;
        left: 0;
    }
    .practice-arrow, .practice-arrow-2{
        margin-left: 57px;
        left: 0;
    }
    .practice-div-4:hover .practice-text-4{
        margin-left: 57px;
        margin-top: -160px;
    }
    #contact{
        height: 765px;
    }
    .contact-book{
        margin-left: -310px;
        margin-top: 208px;
        display: initial;
    }
    .footer-2-logo{
        display:none;
    }
    .footer-text-2{
        font-size: 11px;
    }
    #footer{
        height: 265px;
    }
    .practice-description-1,.practice-description-2,.practice-description-3{
        text-align: left;
        margin-top: -196px;
        margin-left: 5.5vw;
        width: 50vw;
    }
    .practice-div-3:hover .practice-text-3, .practice-div-4:hover .practice-text-4{
        margin-right: 60px;
        margin-top: -250px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-item{
        margin: 0 35px;
    }
    .footer-text-align{
        text-align:center;
    }
    .logo-block-call-div{
       margin-left: 0px;
    }
    .logo-block-logo-div{
        margin-left: 0px;
    }
    .logo-block-button-div{
        margin-left:0px;
    }
    .main-block-1{
        padding-top: 55px;
    }
    .main-block-text-1{
        font-size: 37px;
    }
    .main-block-text-3{
        font-size: 45px;
    }
    .main-block-text-5{
        font-size: 28px;
    }
    .main{
        height: 391px;
    }
    .main-img-1{
        margin-top: 96px;
        height: 291px;
    }
    .logo-block-text-1{
        font-size:15px;
    }
    .logo-block-text-2{
        font-size: 19px;
    }   
    .logo-block-text-3{
        font-size:13px;
    }
    .logo-image{
        width: 325px;
    }
    .logo-block-text-4{
        font-size: 10px;
    }
    .checkBox svg {
        margin-left: -60px;
    }
    .logo-block-button{
        margin-left: -81px;
    }
    .honors-text-1{
        font-size: 35px;
    }
    .honors-text-3 {
        margin-top: 15px;
    }
    .honors-horizontal-line{
        margin-left:355px;
    }
    .jcarousel-control-next{
        right: 20px;
        top: 249px;
    }
    .squareParrent {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: 1s;
        padding: 4px;
        width: 64px;
        height: 64px;
        border: 2px solid #003466;
        margin-top: 28px;
        margin-left: -95px;
        position: absolute;
    }
    .logo-block-button {
        margin-left: -73px;
        letter-spacing: 1px;
        font-size: 15px;
        color: #ceab6f;
        line-height: 18px;
        display: block;
    }
    .practice-img{
        height: 285px;
    }
    .practice-div-4:hover .practice-text-4{
        margin-left: 50px;
    }
    .about-div-2{
      margin-left:0px;
    }
    .about-text-4{
        font-size: 33PX;
    }
    .about-button{
        font-size: 15px;
    }
    .about-div-3{
        height: 422px;
    }
    .bio-photo {
        height: 318px;
        margin-top: 315px;
    }
    .bio-text-1{
        font-size: 43px;
    }
    .bio-text-2 {
        font-size: 19px;
        font-weight: 300;
        color: #003466;
        line-height: 15px;
    }
    .bio-button {
        margin-top: 30px;
    }
    .testimonials-div-1{
        font-size: 40px;
    }
    .testimonials-margin-left{
        margin-left: 0px;
    }
    .testimonials-margin-right{
        margin-left:0px;
    }
    .testimonials-div-3 {
        background-color: #fff;
        margin-top: 74px;
        padding: 42px 53px;
        font-size: 14px;
        line-height: 22px;
        color: #003466;
        position: relative;
        height: unset;
    }
    .testimonials-div-4 {
        width: 361px;
        background-color: #0f4c85;
        margin-left: 59px;
        height: 98px;
        margin-top: -51px;
        position: relative;
        padding: 33px 135px;
        font-size: 24px;
        color: #fff;
    }
    .practice-description-1{
        margin-left: 7.5vw;
        width: 36.5vw;
    }
    .practice-arrow{
        right: 6.5vw;
    }
    .practice-description-2{
        width: 45vw;
    }
    .testimonials-div-5 {
        background-color: #fff;
        margin-top: 74px;
        height: 328px;
        padding: 42px 53px;
        font-size: 15px;
        line-height: 22px;
        color: #003466;
        position: relative;
    }
    .contact-book {
        margin-left: 125px;
    }
    .contact-pens {
       display: none;
    }
    .contact-div-1 {
        margin-left: 0px;
    }
    .contact-b-card-1 {
        margin-left: -12px;
        margin-top: -250px;
        z-index: 1;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .contact-b-card-2 {
        margin-left: -8px;
        margin-top: -190px;
        z-index: 0;
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    .footer-text-2{
        font-size: 10px;
    }
    .footer-2-div-1{
        margin-left: 0px;
    }
    .footer-logo {
        width: 339px;
        margin-top: 36px;
        margin-left: -116px;
    }
    .footer-minus-margin-left {
        margin-left: -6px;
    }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1620px){
    .jcarousel-control-next{
        left:88%;
    }
    .nav-item{
        margin: 0px 50px;
    }
    .main{
        height: 462px;
    }
    .main-img-1 {
        height: 345px;
        margin-top: 117px;
    }
    .main-block-button-1{
        font-size: 16px;
    }
    .main-block-text-5{
        font-size: 28px;
    }
    .main-block-text-1, .main-block-text-2{
        font-size: 33px;
    }
    .main-block-text-3{
        font-size: 48px;
    }
    .practice-description-1{
        margin-left: 6.5vw;
        width: 39vw;
    }
    .practice-description-2{
        width: 43vw;
    }
    .bio-photo {
        height: 388px;
        margin-top: 243px;
    }
    .contact-pens {
        display: none;
    }
    .contact-book {
        margin-left: 255px;
    }
    .contact-div-1 {
        margin-top: 73px;
        margin-left: -21px;
        font-size: 33px;
        color: #fff;
        font-weight: 700;
        line-height: 41px;
        z-index: 1;
    }
    .contact-b-card-1 {
        margin-left: -29px;
        margin-top: -250px;
        z-index: 1;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .contact-b-card-2 {
        margin-left: -19px;
        margin-top: -190px;
        z-index: 0;
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    .footer-minus-margin-left {
        margin-left: -6px;
    }
    .footer-minus-margin-left {
        margin-left: -17px;
    }
    .footer-logo{
        margin-left:0px;
    }
    .footer-minus-margin-left{
        margin-left: -24px;
    }
    .logo-block-button-div{
        margin-left: -25px;
    }
}
@media(max-width: 767.98px){
    .main-block-button-xs{
        display:none;
    }
    .logo-block-call-div{
        margin-bottom:24px;
    }
    .navbar-toggler-icon{
        width: 2em;
        height: 2em;
    }
    .navbar-toggler{
        margin-right: 15px;
    }
    .testimonials-div-2{
        width: 555px;
    }
    .main-img-1{
        height: 333px;
        position: absolute;
        margin-left: 300px;
        display: inherit;
    }
    .main{
        overflow: hidden;
        position: relative;
    }
    .honors-horizontal-line{
        display: none;
    }
    .jcarousel-control-next{
        right: -55px;
        top: 58px;
    }
    .jcarousel-wrapper{
        margin-top: 15px;
        margin-left: -10px;
    }
    .jcarousel-img-1{
        height: 80px;
    }
    .jcarousel-img-2 {
        height: 80px;
        margin-top: 5px;
    }
    .jcarousel-img-3 {
        margin-left: 34px;
        height: 80px;
        margin-top: 5px;
    }
    .jcarousel-img-4{
        height: 80px;
        margin-left: 36px;
        margin-top: 9px;
    }
    .jcarousel-img-5{
        height: 80px;
        margin-left: 36px;
        margin-top: 9px;
    }
    .jcarousel-img-6{
        height: 80px;
        margin-left: 35px;
    }
    .about-div-3{
        height: 630px;
    }
    .about-button {
        font-size: 21px;
    }
    .practice-img{
        height: 300px;
    }
    #bio{
        background-size: 440%;
    }
    .bio-button{
        font-size:19px;
    }
    .offer-text-1{
        padding: 0 50px;
    }
    .contact-text-1{
        font-size:27px;
    }
    .contact-pens{
        display: none;
    }
    .contact-book{
        margin-left: -394px;
    }
    #footer{
        height: 450px;
    }
    .honors-text-block {
        margin-top: 25px;
    }
    #honors{
        height:275px;
    }
    .practice-description-1,.practice-description-2,.practice-description-3{
        text-align: left;
        margin-top: -190px;
        margin-left: 7.5vw;
        width: 80vw;
    }
}
@media(max-width: 576px){
    .practice-div-3:hover .practice-text-3, .practice-div-4:hover .practice-text-4{
        margin-right: 60px;
        margin-top: -69px;
    }
    .practice-description-1{
        display: none;
    }
    .practice-description-2{
        display: none;
    }
    .practice-description-3{
        display: none;
    }
    .sticky{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .nopadding{
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .nav-item{
        font-size: 13px;
        padding-bottom: 15px;
    }
    .logo-block-logo-div{
        text-align: center!important;
    }
    .logo-block{
        height: 90px;
    }
    .logo-block-call-div{
        margin-top:10px;
        margin-bottom: 10px;
    }
    .logo-image{
        width: 255px;
    }
    .main-block-1{
        text-align: center;
    }
    .main-block-text-1, .main-block-text-2 {
        font-size: 16px;
    }
    .main-block-text-2{
        margin-top:0px;
    }
    .main-block-text-3{
        font-size: 30px;
        line-height: 32px;
        DISPLAY: block;
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .main-block-text-5{
        font-size: 22px;
    }
    .main{
        height: 320px;
    }
    .main-block-button-xs{
        padding: 12px 0px;
        background-color: #f3f3f363;
        display:none;
    }
    .main-block-button-2{
        display: block;
        margin-left: -5px;
        padding: 18px 54px;
        font-size: 15px;
        padding: 13px 55px;
        font-size: 12px;
        background-color: $transparent-color;
        border: 3px solid #003466;
        font-weight: 700;
        cursor: pointer;
        transition: 1s;
        color: #003466;
        text-transform: uppercase;
        margin-top: 27px;
        margin:auto;
    }
    .main-block-button-1{
        display:block;
        padding: 14px 52px;
        font-size: 12px;
        margin-left:0px;
        margin: 20px auto;
    }

    .main-img-1{
        display: none;
    }
    #honors{
        height: 305px;
    }
    .honors-arrow{
        width: 28px;
    }
    .honors-text-1{
        text-align: center;
    }
    .honors-text-3{
        font-size: 15px;
        text-align: center;
    }
    .jcarousel-control-next{
        right: -20px;
        top: 67px;
        left: unset;
    }
    .jcarousel-img-1{
        height: 50px;
    }
    .jcarousel-img-2, .jcarousel-img-3{
        margin-top: 0px;
        height: 50px;
    }
    .jcarousel-img-4, .jcarousel-img-5{
        height: 50px;
        margin-left: 35px;
        margin-top: 0px;
    }
    .jcarousel-img-6{
        height:50px;
        margin-left:35px;
    }
    .about-text-4{
        font-size: 26PX;
    }
    .testimonials-div-2{
        width: 320px;
    }
    .logo-block-text-4{
        font-size: 8px;
        text-align:center;
    }
    .logo-block-text-1{
        font-size: 12px;
    }
    .logo-block-text-2{
        font-size: 15px;
    }
    .navbar-toggler-icon{
        width: 1.7em;
        height: 1.7em;
    }
    .about-div-1{
        margin-top: 42px;
        margin-left: 0px;
    }
    .about-text-1{
        font-size: 29px;
        line-height: 35px;
    }
    .about-text-item-1{
        font-size: 23px;
    }
    .testimonials-div-4{
        width: 285px;
        margin-left: 15px;
        height: 97px;
        padding: 32px 135px;
        font-size: 23px;
    }
    .about-div-2{
        margin-left:0px;
        margin-top: 50px;
        text-align: center;
    }
    .about-text-2{
        font-size: 30px;
        line-height: 30px;
    }
    .about-horizontal-line-3{
        border-bottom: 2px solid #ceab6f;
        width: 150px;
        margin-top: 20px;
        margin-bottom: 32px;
    }
    .about-text-3{
        font-size:16px;
    }
    .about-horizontal-line-2{
        border-bottom: 2px solid #ceab6f;
        width: 95px;
        margin-top: 27px;
        margin: auto;
        margin-top: 24px;
    }
    #about{
        text-align: center;
    }
    .about-text-4{
        padding: 50px 0px;
    }
    .about-button{
        margin-left:0px;
        font-size: 15px;
        padding: 13px 34px;
    }
    .about-div-3{
        height: 380px;
    }
    .practice-text-1{
        font-size: 35px;
    }
    .practice-div-3, .practice-div-4{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .practice-text-3, .practice-text-4{
        margin-top: -65px;
        font-size: 18px;
    }
    .practice-img{
        height: 185px;
    }
    #bio{
        text-align: center;
    }
    .bio-horizontal-line{
        border-bottom: 2px solid #ceab6f;
        width: 175px;
        margin: 25px auto;
    }
    .bio-text-1{
        font-size: 34px;
    }
    .bio-div-1{
        margin-top:40px;
    }
    .bio-div-2{
        padding-right:0px;
    }
    #offer{
        height: 280px;
    }
    .offer-text-1{
        font-size: 24px;
    }
    #testimonials{
        text-align: center;
    }
    .testimonials-div-1{
        font-size: 28px;
        line-height: 36px;
        padding-top: 50px;
    }
    .testimonials-line-1{
        width: 150px;
        border-bottom: 3px solid #ceab6f;
    }
    .testimonials-div-2{
        display: none;
    }
    .testimonials-div-3{
        padding: 31px 27px;
        font-size: 13px;
        margin-top: 30px;
        height: unset;
    }
    .testimonials-div-4{
        margin-top: -15px;
    }
    .testimonials-div-5{
        padding: 31px 27px;
        font-size: 13px;
        margin-top: 30px;
        height: unset;
    }
    .contact-from{
        margin-top: 50px;
    }
    .contact-book{
        margin-left: -482px;
        margin-top: 303px;
    }
    #contact{
        height: 875px;
    }
    .footer-logo{
        width: 280px;
        margin-top: 17px;
    }
    .footer-text-align{
        margin-top: 25px;
    }
}
@media(max-width:1620px){
    .logo-button-animation{
        display: none;
    }
    .logo-img-animation{
        display: none;
    }
    .logo-block-text-1-animation{
        display: none;
    }
    .logo-block-text-2-animation{
        display: none;
    }
}
@media(min-width: 1620px){
    .jcarousel-wrapper{
       // width: 80%;
    }
    .jcarousel-control-next{
        display: none;
    }
}
@media(max-width: 576px){

}