// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
    #about-page,#inner{
        padding-top: 140px;
    }
    .contact-div-1{
        margin-top:30px;
    }
    .testimonials-div-1{
        margin-top: 40px;
    }
    .testimonials-div-1-border{
        margin-top:20px;
    }
    .main-block-button-1{

    }
    .about-page-div-1,.about-page-div-2,.about-page-div-3,.about-page-div-4{
        width: 100%;
    }
    .about-page-triangle,.about-page-triangle-2,.about-page-triangle-down{
        display: none;
    }
    .about-page-ul-2{
        width: 100%;
    }
    .about-page-div-7 {
        margin-bottom: 50px;
    }
    .innerpage-header-bg{
        display: none;
    }
    .innerpage-div-1{
        width: 100%;
        margin-top:0px;
    }
    .innerpage-div-2{
        width: 100%;
    }
    .innerpage-about-3 {
        width: 66.66666%;
    }
    .innerpage-about-2 {
        width: 66.66666%;
    }
    .innerpage-about-1 {
        width: 33.33333%;
    }
    .contact-text-1{
        font-size: 25px;
    }
    .practice-arrow, .practice-arrow-2{
        top:85%;
    }
    .footer-text-align{
        text-align:center;
    }
    .sticky{
        padding-top:0px;
        padding-bottom:0px;
    }
    .nav-item{
        margin: 0 22px;
        font-size: 12px;
    }
    .logo-block{
        height: 100px;
    }
    .logo-block-text-4{
        margin-left: 5px;
        font-size: 10px;
        letter-spacing: 5.8px;
    }
    .logo-block-text-3{
        font-size: 10px;
    }
    .logo-block-text-2{
        font-size: 20px;
        margin-left:7px;
    }
    .logo-block-text-1{
        font-size:13px;
    }
    .logo-image{
        width: 350px;
        margin-top: 12px;
    }
    .main-block-text-6{
        font-size: 24px;
    }
    .main-block-text-5{
        font-size: 18px;
        width: 238px;
        margin-left: 0;
    }
    .main{
        background-position-y: -200px;
    }
    .jcarousel-control-next {
        position: absolute;
        top: 145px;
        left: 50%;
    }
    .honors-horizontal-line{
        margin-left: 293px;
        height: 130px;
        margin-top: 23px;
    }
    #honors{
        height: 180px;
    }
    .logo-block-logo-div{
        margin-left: 0px;
        text-align: left!important;
    }
    .logo-block-call-div{
        margin-left: 0px;
    }
    .checkBox svg {
        margin-left: -53px;
    }
    .logo-block-button {
        margin-left: -38px;
        letter-spacing: 1px;
        font-size: 14px;
        color: #ceab6f;
        line-height: 18px;
        display: block;
    }

    .main-block-button-1{
        margin-top:5px;
        margin-left:0px;
        padding: 18px 54px;
        font-size: 14px;
    }
    .main-block-text-3{
        font-size: 21px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main-block-text-1, .main-block-text-2{
        font-size: 20px;
    }

    .main{
        height: 330px;
    }
    .logo-image{
       margin-left: 0px;
    }
    .main-img-1 {
        height: 304px;
        margin-top: 23px;
    }
    .main-block-1 {
        padding-top: 53px;
        margin-left: 0px;
    }
    .jcarousel-img-1,.jcarousel-img-2,.jcarousel-img-3,.jcarousel-img-4,.jcarousel-img-5,.jcarousel-img-6{
        margin-top:0px;
        height: 100px;
    }
    .honors-text-1 {
        display: block;
        font-size: 20px;
        color: #003466;
    }
    .honors-text-3 {
        font-size: 12px;
        margin-top: 0;
        width: 100%;
    }
    .about-text-1{
        margin-top:0px;
        font-size: 30px;
        line-height: unset;
    }
    .about-horizontal-line-1{
        border-bottom: 3px solid #ceab6f;
        margin-bottom: 26px;
    }
    .about-text-2{
        font-size: 16px;
    }
    .testimonials-div-3{
        padding: 46px 70px 120px;
    }
    .testimonials-div-1{
        height: unset;
    }
    .bio-text-2 {
        font-size:16px;
        font-weight: 300;
        color: #003466;
        line-height: 15px;
    }
    .bio-photo {
        display:none;
    }
    .bio-button{
        font-size: 14px;
        margin-bottom:30px;
    }
    #offer{
        height: unset;
        padding-bottom: 20px;
    }
    .offer-text-1 {
        font-size: 26px;
        padding:0 50px;
    }
    .bio-text-2{
        font-size: 19px;
    }
    .testimonials-text-1{
        font-size: 27px;
    }
    #testimonials{
        padding-top: 30px;
    }
    .testimonials-jcarousel-wrapper{
        width: 90vw;
    }
    .testimonials-div-1{
        width: 90vw;
    }
    .offer-div{
        padding-top: 22px;
    }
    .contact-div-2{
        margin-left: auto;
        margin-right: auto;
        width: 375px;
    }
    .contact-book{
        margin-left: -482px;
    }
    .contact-pens {
        display: none;
    }
    .contact-div-1 {
        text-align:center;
        margin-left:0px;
    }
    .contact-b-card-1{
        display:none;
    }
    .contact-b-card-2{
        display:none;
    }
    .footer-logo {
        width: 339px;
        margin-top: 36px;
        margin-left:0px;
    }
    .footer-minus-margin-left {
        margin-left: 0px;
    }
    .about-horizontal-line-3{
        margin-left: auto;
        margin-right: auto;
    }
    .about-div-3{
        margin-left: 0px;
    }
    .about-text-4{
        font-size: 27PX;
        line-height: unset;
        padding-top: 40px;
    }
    .about-button, .about-page-button{
        font-size: 16px;
    }
    .about-div-1{
        padding-bottom: 0px;
    }
    .about-div-2{
        background-position-x: -132px;
    }
    .about-div-3{
        margin-top: 50px;
    }
    .about-div-4{
        padding-top: 0px;
        padding-bottom: 25px;
        margin-bottom: 0px;
    }
    .about-text-item-1{
        font-size: 18px;
    }
    .about-text-item-2{
        font-size: 14px;
    }
    .about-text-5{
        font-size: 27px;
    }
    .about-div-2{
        padding-bottom: 65px;
    }
    .about-button, .about-page-button{
        font-size: 14px;
    }
    .practice-text-1{
        font-size: 27px;
    }
    .practice-text-3, .practice-text-4{
        margin-left: 57px;
        left: 0;
    }
    .practice-arrow, .practice-arrow-2{
        margin-left: 57px;
        left: 0;
    }
    .practice-div-4:hover .practice-text-4{
        margin-left: 57px;
        margin-top: -160px;
    }
    .bio-div-1{
        margin-top:30px;
    }
    .bio-text-1{
        font-size: 27px;
    }
    .bio-horizontal-line{
        border-bottom: 3px solid #ceab6f;
        width: 150px;
        margin-bottom: 27px;
    }
    .bio-text-2{
        font-size: 15px;
    }
    #contact{
        height: 800px;
    }
    .footer-2-logo{
        display:none;
    }
    .footer-text-2{
        font-size: 11px;
    }
    #footer{
        height: 265px;
    }
    .practice-description-1,.practice-description-2,.practice-description-3{
        text-align: left;
        margin-top: -188px;
        margin-left: 7vw;
        width: 75vw;
    }
    .practice-div-3:hover .practice-text-3, .practice-div-4:hover .practice-text-4{
        margin-right: 60px;
        margin-top: -250px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .innerpage-about-3 {
        width: 50%;
    }
    .innerpage-about-2 {
        width: 50%;
    }
    .innerpage-about-1 {
        width: 25%;
    }
    .jcarousel-img-1,.jcarousel-img-2,.jcarousel-img-3,.jcarousel-img-4,.jcarousel-img-5,.jcarousel-img-6{
        margin-top:0px;
        height: 100px;
    }
    .nav-item{
        margin: 0 35px;
    }
    .footer-text-align{
        text-align:center;
    }
    .logo-block-call-div{
       margin-left: 0px;
    }
    .logo-block-logo-div{
        margin-left: 0px;
    }
    .logo-block-button-div{
        margin-left:0px;
    }
    .main-block-1{
        padding-top: 55px;
    }
    .main-block-text-3{
        font-size: 41px;
    }
    .main-block-text-5{
        font-size: 22px;
        margin-left:0px;
    }
    .main-block-text-6{
        font-size:28px;
    }
    .main-block-text-1, .main-block-text-2{
        font-size: 31px;
    }
    .main{
        height: 375px;
    }
    .main-img-1{
        margin-top: 25px;
        height: 350px;
        margin-left: -82px;
    }
    .main-block-button-1{
        margin-left: 0px;
        margin-top: 0px;
        padding: 18px 64px;
        font-size: 16px;
    }
    .logo-block-text-1{
        font-size:14px;
    }
    .logo-block-text-2{
        font-size: 17px;
    }
    .logo-block-text-3{
        font-size:12px;
    }
    .logo-image{
        width: 325px;
    }
    .logo-block-text-4{
        font-size: 10px;
    }
    .checkBox svg {
        margin-left: -60px;
    }
    .logo-block-button{
        margin-left: -81px;
    }
    .honors-text-1{
        font-size: 26px;
    }
    .honors-text-3 {
        margin-top: 15px;
        font-size: 14px;
    }
    .honors-horizontal-line{
        margin-left:355px;
    }
    .jcarousel-control-next{
        left: 50%;
        top: 152px;
    }

    .logo-block-button {
        margin-left: -73px;
        letter-spacing: 1px;
        font-size: 14px;
        color: #ceab6f;
        line-height: 18px;
        display: block;
    }
    .practice-img{
        height: 285px;
    }
    .practice-text-3{
        left: 5vw;
    }
    .practice-arrow,.practice-arrow-2{
        left: 5vw;
        top: 7vw;
    }
    .practice-div-4:hover .practice-text-4{
        margin-left: 50px;
    }
    .about-text-1{
        font-size: 22px;
        margin-top:0px;
        line-height: unset;
    }
    .about-text-2{
        font-size: 16px;
    }
    .about-div-4{
        padding-top: 40px;
        margin-bottom: 200px;
    }
    .about-horizontal-line-1 {
        border-bottom: 3px solid #ceab6f;
        width: 120px;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .practice-text-1{
        font-size:27px;
    }
    .practice-text-3, .practice-text-4{
        font-size: 22px;
    }
    .practice-div-3:hover .practice-text-3, .practice-div-4:hover .practice-text-4{
        margin-top:-260px;
    }
    .bio-div-1{
        margin-top: 28px;
    }
    .about-text-5{
        font-size: 20px;
    }
    .about-text-4{
        font-size: 22px;
        padding-top: 50px;
        line-height: unset;
    }
    .about-div-2{
        padding-bottom: 50px;
    }
    .about-button{
        font-size: 14px;
    }
    .about-text-item-1{
        font-size: 16px;
    }
    .about-text-item-2{
        font-size: 12px;
    }
    .about-horizontal-line-2{
        width: 129%;
    }
    .bio-photo {
        height: 386px;
        margin-top: 150px;
        margin-left: -77px;
    }
    .bio-button{
        margin-bottom: 38px;
    }
    .bio-text-1{
        font-size: 38px;
    }
    .bio-text-2 {
        font-size: 18px;
        font-weight: 300;
        color: #003466;
        line-height: 15px;
    }
    .offer-div {
        padding-top: 38px;
    }
    .bio-button {
        margin-top: 30px;
    }
    #testimonials{
        padding-top: 25px;
    }
    .testimonials-text-1{
        font-size:27px;
    }
    .testimonials-line-1{
        border-bottom: 3px solid #ceab6f;
    }
    .practice-description-1{
        left:5vw;
        width: 36.5vw;
        margin-left:0;
    }
    .practice-description-2{
        width: 45vw;
    }
    .practice-description-1, .practice-description-2, .practice-description-3{
        font-size: 15.5px;
    }
    .testimonials-div-3{
        padding: 46px 100px 120px;
        font-size:15px;
    }
    .testimonials-div-1{
        height: unset;
    }
    .contact-book {

    }
    .contact-pens {
       display: none;
    }
    .contact-div-1 {
        margin-left: 0px;
    }
    .contact-b-card-1 {
        margin-left: -12px;
        margin-top: -250px;
        z-index: 1;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .contact-b-card-2 {
        margin-left: -8px;
        margin-top: -190px;
        z-index: 0;
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    .contact-text-1{
        font-size: 19px;
        letter-spacing: unset;
    }
    .contact-div-2{
        width: 400px;
    }
    .footer-text-2{
        font-size: 9px;
    }
    .footer-2-div-1{
        margin-left: 0px;
    }
    .footer-logo {
        width: 339px;
        margin-top: 36px;
        margin-left: -116px;
    }
    .footer-minus-margin-left {
        margin-left: -6px;
    }
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and(max-width: 1620px){
    .nav-item{
        font-size:14px;
    }
    .about-text-item-1{
        font-size: 19px;
    }
    .about-text-item-2{
        font-size: 14px;
    }
    .about-text-4{
        font-size: 25px;
        padding-top: 32px;
    }
    .about-div-5 {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .about-div-1{
        padding-bottom: 0px;
    }
    .practice-div-3:hover .practice-text-3, .practice-div-4:hover .practice-text-4{
        margin-top: -240px;
    }
    .about-div-2{
        padding-bottom: 50px;
        background-position-x: -186px;
    }
    .about-horizontal-line-1{
        margin-bottom: 25px;
    }
    .about-div-4{
        padding-top: 36px;
        padding-bottom: 25px;
    }
    .about-text-1{
        font-size: 26px;
    }
    .about-text-2{
        font-size: 15px;
    }
    .about-text-5{
        font-size: 27px;
    }
    .honors-text-1{
        font-size:27px;
    }
    .honors-text-3{
        width: 85%;
        font-size: 13px;
    }
    .honors-horizontal-line{
        margin-left: 30%;
    }
    .jcarousel-control-next{
        left:88%;
    }
    .nav-item{
        margin: 0px 50px;
    }
    .about-text-1{
        margin-top:0px;
    }
    .practice-div-1{
        margin-top:0px;
    }
    .practice-div-2 {
        margin-top:20px;
        margin-bottom: 20px;
    }
    .practice-text-1{
        font-size: 32px;
    }
    .practice-img {
        height: 300px;
    }
    .practice-arrow, .practice-arrow-2{
        top:37%;
    }
    .practice-text-3, .practice-text-4{
        font-size: 26px;
    }
    .practice-description-1, .practice-description-2, .practice-description-3{
        font-size: 17px;
    }
    .main{
        height: 400px;
    }
    .main-block-1 {
        padding-top: 50px;
    }
    .main-img-1 {
        height: 345px;
        margin-top: 55px;
    }
    .main-block-button-1{
        font-size: 16px;
    }
    .main-block-text-5{
        font-size: 22px;
    }
    .main-block-text-1, .main-block-text-2{
        font-size: 30px;
    }
    .main-block-text-3{
        font-size: 42px;
    }
    .jcarousel-wrapper{
        width: 80%;
        margin-left: 0px;
    }
    .jcarousel-img-1{
        height: 115px;
    }
    .jcarousel-img-2{
        height: 115px;
        margin-top: 0px;
    }
    .jcarousel-img-3 {
        height: 115px;
    }
    .jcarousel-img-4 {
        height: 115px;
    }
    .jcarousel-img-6 {
        height: 115px;
    }
    .jcarousel-img-5 {
        height: 115px;
        margin-top: 0px;
    }
    .honors-text-3{
        margin-top: 3px;
    }
    .honors-horizontal-line{
        margin-top:15px;
    }
    .jcarousel-control-next{
        top:50%;
    }
    #honors{
        height: 175px;
    }
    .testimonials-div-1{
        padding-top: 35px;
        height: 425px;
    }
    .testimonials-div-1-border{
        height: 350px;
    }
    .testimonials-div-3{
        padding: 21px 61px 78px;
    }
    .practice-description-1{
        margin-left: 7vw;
        width: 39vw;
    }
    .practice-description-2, .practice-description-3{
        margin-top: -150px;
    }
    .practice-description-2{
        width: 43vw;
    }
    .practice-text-3{
        left: 7vw;
    }
    .practice-arrow{
        left:7vw;
    }
    .practice-text-4{
        margin-left: 45px;
    }
    .bio-photo {
        height: 388px;
        margin-top: 30px;
    }
    .bio-button{
        margin-bottom: 0px;
    }
    .bio-div-1{
        margin-top: 35px;
    }
    .bio-text-1{
        font-size: 34px;
    }
    .bio-text-2{
        font-size: 16px;
    }
    .contact-pens {
        display: none;
    }
    .testimonials-text-1 {
        font-size: 28px;
    }
    .testimonials-line-1{
        border-bottom: 3px solid #ceab6f;
    }
    .contact-text-1{
        font-size: 21px;
    }
    .contact-b-card-1 {
        margin-left: -29px;
        margin-top: -250px;
        z-index: 1;
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .contact-b-card-2 {
        margin-left: -19px;
        margin-top: -190px;
        z-index: 0;
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }
    #testimonials{
        padding-top: 25px;
        padding-bottom: 65px;
    }
    .testimonials-div-3{
        font-size:16px;
    }
    .testimonials-carousel{
        margin-top: -30px;
    }
    .footer-minus-margin-left {
        margin-left: -6px;
    }
    .footer-minus-margin-left {
        margin-left: -17px;
    }
    .footer-logo{
        margin-left:0px;
    }
    .footer-minus-margin-left{
        margin-left: -24px;
    }
    .logo-block-button-div{
        margin-left: -25px;
    }
    .footer-2-div-1{
        margin-left:0px;
    }
    .footer-text-2{
        font-size: 13px;
    }
    .footer-logo{
        width:305px;
    }
    .footer-2-margin-left{
        margin-left:-15px;
    }
    .offer-text-1{
        font-size: 27px;
    }
    #offer {
        height: 165px;
    }
    .offer-div {
        padding-top: 25px;
    }
    .about-page-text-1, .innerpage-text-1{
        font-size: 32px;
    }
    .innerpage-line{
        border-bottom: 3px solid #ceab6f;
        margin-top: 10px;
    }
    .about-page-text-2, .innerpage-text-2{
        font-size: 14px;
        margin-top: 25px;
    }
    .about-page-text-3, .about-page-text-4{
        font-size: 22px;
    }
    .about-page-line-1, .about-page-line-2{
        width: 50px;
    }
    .about-page-ul-1, .about-page-ul-2{
        font-size: 13px;
    }
    .about-page-div-5{
        background-position-x: -270px;
    }
    .about-page-div-1, .about-page-div-8{
        padding: 46px 47px 30px;
    }
    .about-page-div-6{
        background-position-x: -275px;
    }
    .innerpage-text-3{
        font-size: 19px;
    }
    #inner img{
        height:200px;
    }
    .innerpage-text-4{
        font-size: 14px;
    }
    .innerpage-div-2{
        padding: 74px 55px 40px;
    }
}
@media(max-width: 767.98px){
    .main-block-button-xs{
        display:none;
    }
    .logo-block-call-div{
        margin-bottom:7px;
    }
    .logo-block-logo-div{
        text-align:center!important;
    }
    .main{
        height: 385px;
    }
    .main-block-text-6{
        font-size: 40px;
    }
    .main-block-text-1, .main-block-text-2{
        font-size: 33px;
    }
    .main-block-text-3{
        font-size: 37px;
        margin-top: -4px;
        margin-bottom: 5px;
    }
    .main-block-button-1{
        padding: 18px 54px;
        font-size: 23px;
        margin-top: 5px;
        margin-left: 0px;
    }
    .main-img-1{
        margin-top:50px;
    }
    .main-block-text-5{
        margin-left:0px;
    }
    .honors-text-1{
        font-size: 40px;
        text-align:center;
    }
    .honors-text-3{
        text-align:center;
    }
    .navbar-toggler-icon{
        width: 2em;
        height: 2em;
    }
    .navbar-toggler{
        margin-right: 15px;
    }
    .practice-arrow, .practice-arrow-2{
        top: 80%;
    }
    .main-img-1{
        height: 333px;
        position: absolute;
        margin-left: 400px;
        display: inherit;
    }
    .main{
        overflow: hidden;
        position: relative;
    }
    #bio{
        text-align:center;
    }
    .bio-horizontal-line{
        margin-left:auto;
        margin-right: auto;
    }
    .bio-div-2{
        padding-right: 0px;
    }
    .testimonials-div-3{
        padding: 45px 50px 120px;
    }
    .honors-horizontal-line{
        display: none;
    }
    .testimonials-div-1{
        height: unset;
    }
    .testimonials-div-1-border{
        height: 600px;
    }
    .jcarousel-control-next{
        right: -60px;
        top: 58px;
    }
    .jcarousel-control-next{
        left:unset;
    }
    .jcarousel-wrapper{
        margin-top: 15px;
        margin-left: -10px;
    }
    .jcarousel-img-1{
        height: 80px;
    }
    .jcarousel-img-2 {
        height: 80px;
        margin-top: 5px;
    }
    .jcarousel-img-3 {
        margin-left: 34px;
        height: 80px;
        margin-top: 5px;
    }
    .jcarousel-img-4{
        height: 80px;
        margin-left: 36px;
        margin-top: 9px;
    }
    .jcarousel-img-5{
        height: 80px;
        margin-left: 36px;
        margin-top: 9px;
    }
    .jcarousel-img-6{
        height: 80px;
        margin-left: 35px;
    }

    .about-button {
        font-size: 21px;
    }
    .practice-img{
        height: 300px;
    }
    #bio{
        background-size: 440%;
    }
    .bio-button{
        font-size:19px;
    }
    .offer-text-1{
        padding: 0 50px;
    }
    .contact-text-1{
        font-size:27px;
    }
    .contact-pens{
        display: none;
    }
    .contact-book{

    }
    #footer{
        height: 450px;
    }
    .honors-text-block {
        margin-top: 25px;
    }
    #honors{
        height:275px;
    }
    .practice-description-1,.practice-description-2,.practice-description-3{
        text-align: left;
        margin-top: -190px;
        margin-left: 7.5vw;
        width: 80vw;
    }
}
@media(max-width: 576px){
    .about-page-text-1{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .about-page-div-7 {
        margin-top: 40px;
        text-align: center;
        margin-bottom: 0px;
    }
    .about-text-4{
        text-align: center;
    }
    .about-mobile-1{
        display: block;
    }
    .about-mobile-2{
        display: none;
    }
    .innerpage-about-3 {
        width: 100%;
    }
    .innerpage-about-2 {
        width: 100%;
    }
    .innerpage-about-1 {
        width: 50%;
    }
    .contact-text-1{
        font-size: 21px;
    }
    .main-block-text-6,.main-block-text-1, .main-block-text-2{
        font-size: 25px;
    }
    .main-block-text-5{
        font-size: 20px;
        margin-top: -20px;
    }
    .practice-div-3:hover .practice-text-3, .practice-div-4:hover .practice-text-4{
        margin-right: 60px;
        margin-top: -69px;
    }
    .practice-description-1{
        display: none;
    }
    .practice-description-2{
        display: none;
    }
    .practice-description-3{
        display: none;
    }
    .sticky{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .nopadding{
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .nav-item{
        font-size: 13px;
        padding-bottom: 15px;
    }
    .logo-block-logo-div{
        text-align: center!important;
    }
    .logo-block{
        height: 90px;
    }
    .logo-block-call-div{
        margin-top:10px;
        margin-bottom: 10px;
    }
    .logo-image{
        width: 255px;
    }
    .main-block-1{
        text-align: left;
    }
    .main-block-text-2{
        margin-top:0px;
    }
    .main-block-text-3{
        font-size: 30px;
        line-height: 32px;
        DISPLAY: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .main{
        height: unset;
        padding-bottom: 40px
    }
    .main-block-button-xs{
        padding: 12px 0px;
        background-color: #f3f3f363;
        display:none;
    }
    .main-block-button-2{
        display: block;
        margin-left: -5px;
        padding: 18px 54px;
        font-size: 15px;
        padding: 13px 55px;
        font-size: 12px;
        background-color: $transparent-color;
        border: 3px solid #003466;
        font-weight: 700;
        cursor: pointer;
        transition: 1s;
        color: #003466;
        text-transform: uppercase;
        margin-top: 27px;
        margin:auto;
    }
    .main-block-button-1{
        display:block;
        padding: 14px 52px;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main-img-1{
        display: none;
    }
    .main-img-2 {
        display: block;
        position: absolute;
        height: 100%;
        right: -200px;
    }
    #honors{
        height: unset;
        padding-bottom: 50px;
    }

    .about-horizontal-line-1{
        margin-left:auto;
        margin-right: auto;
    }
    .honors-arrow{
        width: 28px;
    }
    .honors-text-1{
        text-align: center;
        font-size: 30px;
    }
    .honors-text-3{
        font-size: 15px;
        text-align: center;
    }
    .jcarousel-control-next{
        left: 50%;
        margin-top: 20px;
        width: 28px;
    }
    .jcarousel-wrapper{
        margin-left:0px;
        margin-right: 0px;
    }
    .jcarousel-img-1{
        height: 50px;
    }
    .jcarousel-img-2, .jcarousel-img-3,.jcarousel-img-4,.jcarousel-img-5,.jcarousel-img-6{
        margin-top: 0px;
        height: 50px;
        margin-left: 20px;
    }
    .about-text-4{
        font-size: 26PX;
    }
    .logo-block-text-4{
        font-size: 8px;
        text-align:center;
    }
    .logo-block-text-1{
        font-size: 12px;
        display:none;
    }
    .logo-block-text-2{
        font-size: 22px;
    }
    .main-block-1{
        padding-top: 70px;
    }
    .navbar-toggler-icon{
        width: 1.7em;
        height: 1.7em;
    }
    .about-div-1{
        margin-top: 42px;
        padding: 0px;
        margin-left: 0px;
    }
    .about-text-1{
        font-size: 25px;
        line-height: 35px;
    }
    .about-text-item-1{
        font-size: 20px;
    }
    .about-div-2{
        margin-top: 50px;
        text-align: center;
        padding-bottom:0px;
    }
    .about-horizontal-line-1{
        margin-top: 23px;
        margin-bottom: 23px;
    }
    .about-horizontal-line-3{
        border-bottom: 2px solid #ceab6f;
        width: 150px;
        margin-top: 20px;
        margin-bottom: 32px;
    }
    .about-horizontal-line-2{
        border-bottom: 2px solid #ceab6f;
        width: 95px;
        margin-top: 27px;
        margin: auto;
        margin-top: 24px;
    }
    #about{
        text-align: center;
    }
    .about-text-4{
        padding: 38px 20px 0;
        font-size: 25px;
    }
    .about-button{
        margin-left:0px;
        font-size: 15px;
        padding: 13px 34px;
        margin-bottom: 55px;
    }
    .about-div-3{
        margin-bottom: 38px;
    }
    .about-text-5{
        font-size:25px;
    }
    .about-item-container{
        padding-left: 0px;
    }
    .about-div-4{
        padding-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 35px;
        margin-bottom: -25px;
    }
    .about-img-1{
        position:inherit;
    }
    .about-horizontal-line-2{
        margin-left:auto;
        margin-right: auto;
        left:unset;
    }
    .practice-text-1{
        font-size: 25px;
    }
    .practice-div-2{

        margin-bottom: 25px;
    }
    .practice-div-3, .practice-div-4{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .practice-text-3, .practice-text-4{
        margin-top: -65px;
        font-size: 18px;
    }
    .practice-img{
        height: 150px;
    }
    #bio{
        text-align: center;
    }
    .bio-horizontal-line{
        border-bottom: 2px solid #ceab6f;
        width: 175px;
        margin: 25px auto;
    }
    .bio-text-1{
        font-size: 25px;
    }
    .bio-div-1{
        margin-top:40px;
    }
    .bio-div-2{
        padding-right:0px;
    }
    #offer{
        height: unset;
    }
    .offer-text-1{
        font-size: 24px;
    }
    .testimonials-text-1{
        font-size: 25px;
        line-height: unset;
    }
    .contact-from{
        margin-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-book{
        margin-left: -482px;
        margin-top:-20px;
    }
    #contact{
        height: 875px;
    }
    .footer-logo{
        width: 280px;
        margin-top: 17px;
    }
    .footer-text-align{
        margin-top: 25px;
    }
    .footer-2-div-1{
        margin-left:0px;
        text-align: center;
    }
    .about-page-text-1, .innerpage-text-1{
        font-size: 35px;
    }
    .about-page-text-2, .innerpage-text-2{
        margin-top: 25px;
    }
    .innerpage-line{
        margin-top: 15px;
    }
    .about-page-text-2, .innerpage-text-2{
        font-size: 19px;
    }
}
@media(max-width:1620px){
    .innerpage-div-4, .innerpage-div-5{
        padding-left: 25px;
        padding-right: 25px;
    }
    .logo-button-animation{
        display: none;
    }
    .logo-img-animation{
        display: none;
    }
    .logo-block-text-1-animation{
        display: none;
    }
    .logo-block-text-2-animation{
        display: none;
    }
}
@media(min-width: 1620px){
    .jcarousel-wrapper{
       // width: 80%;
    }
    .jcarousel-control-next{
        display: none;
    }
}
@media(max-width: 500px){
    .about-text-2,.about-text-3{
        font-size: 17px;
        line-height: 30px;
    }
    #inner img{
        height: 100%;
    }
    .testimonials-div-1{
        width: 95vw;
        margin-top: 35px;
        padding-top: 30px;
        padding-bottom: 65px;
    }
    .testimonials-jcarousel-wrapper{
        width:unset;
    }
    .testimonials-div-1-border{
        display:none;
    }
    .testimonials-div-3 {
        padding: 16px 16px;
    }
    .contact-text-1{
        font-size:17px;
    }
    .contact-div-1{
        margin-top: 25px;
    }
    .contact-text-2{
        display: -webkit-inline-box;
    }
    .contact-text-3{
        display: -webkit-inline-box;
    }
}
@media(max-width: 400px){
    .innerpage-about-1 {
        width: 100%;
    }
}