#offer{
  height: 238px;
  background-color: #0f4c86;
}
.offer-div{
  padding-top: 65px;
}
.offer-text-1{
  text-align: center;
  font-size: 39px;
  padding: 0 117px;
  color: white;
  line-height: 50px;
  font-family:Merriweather;
}
.offer-text-2{
    color:$main-block-yellow;
}